body{
	background-color:#000000;

}
h1{
	color:#ffffff;
	border-color:#ff0000;
	text-align:center;
}

#sort{
	text-align:right;
	left:45%;
	position:relative;
	margin:2px;
	/*display:inline;*/
}
button{
	color:#ffffff;
}

#array_container{
	/*height:400px;*/
	top:250px;
	position:absolute;
	left:200px;
}

.bar{
	width:6px;
	background-color:#6b5b95;
	display:inline-block;
	margin:0 2px;
}


